@charset "utf-8";

#dammy {
	display: block;
	overflow: hidden;
	background: url() no-repeat;
	padding: 40px 0 0;
	width: 216px;
	height: 0!important;
}

/* #
--------- --------- --------- --------- --------- */
#mainimage {
	margin:0 0 15px;
}

#mainimage li .p {
	display: none;
}

#mainimage li .s img {
	width:100%;
	height:auto;
}

.cbox {
	margin:0 0 7px;
	width:33%;
	float:left;
}

.cbox h3 {
	display: none;
}

.cbox .body {
	display: none;
}

.cbox .more {
	padding:0 3px;
}

.cbox .more a {
	display: block;
}

.cbox .more a b {
	display: block;
}

.cbox .more a b img {
	width:100%;
	height:auto;
}
	
.works ul li {
	margin:0 0 15px;
	width:50%;
	font-size:1.0rem;
	float:left;
}
	
.works ul li .image {
	margin:0 5px 10px;
	overflow: hidden;
	border:1px solid #CCC;
}
	
.works ul li .image img {
	width:100%;
	height:auto;
}

.casebox {
	margin: 0 0 10px;
	padding: 12px 10px;
	border: 4px solid #CCC;
}

.casebox.case1 {
	background: url('../images/top/sp_case1.png') no-repeat;
	background-position: right bottom;
	background-size: 123px 164px;
	background-color: #F5F5F5;
}

.casebox.case2 {
	background: url('../images/top/sp_case2.png') no-repeat;
	background-position: right bottom;
	background-size: 123px 164px;
	background-color: #F5F5F5;
}

.casebox.case3 {
	background: url('../images/top/sp_case3.png') no-repeat;
	background-position: right bottom;
	background-size: 123px 164px;
	background-color: #F5F5F5;
}

.casebox.case4 {
	background: url('../images/top/sp_case4.png') no-repeat;
	background-position: right bottom;
	background-size: 123px 164px;
	background-color: #F5F5F5;
}

.casebox h3 {
	margin:0 0 10px;
	font-weight: normal;
	font-size: 1.6rem;
}

.column {
	padding: 10px 10px 0;
	border: 4px solid #CCC;
	background-color: #F5F5F5;
}

.column ul li {
	padding:0 0 10px 15px;
	width:auto;
	position: relative;
}

.column ul li i {
	position: absolute;
	top:3px;
	left:0;
}
	
.column ul li a {
	color:#06C;
}

.siderightimg {
	background: url('../images/top/img_responsive.png') no-repeat;
	background-position: center 0;
	background-size: 300px;
	margin:0;
	padding: 190px 0 0;
	min-height:auto;
	height:auto!important;
	height: auto;
}

@media screen and (min-width: 760px) {
	
	#mainimage {
		margin:0 auto 30px;
		padding:0 10px;
		width:980px;
	}

	#mainimage li .p {
		display: block;
	}

	#mainimage li .s {
		display: none;
	}
	
	.cbox {
		margin:0 22px 23px 0;
		width:312px;
		min-height:190px;
	}
	
	.cbox.cbox1 {
		background: url('../images/top/img_about.png') no-repeat;
		background-position: 0 bottom;
	}
	
	.cbox.cbox2 {
		background: url('../images/top/img_service.png') no-repeat;
		background-position: 0 bottom;
	}
	
	.cbox.cbox3 {
		background: url('../images/top/img_works.png') no-repeat;
		background-position: 0 bottom;
		margin:0 0 23px;
	}
	
	.cbox.cbox4 {
		background: url('../images/top/img_price.png') no-repeat;
		background-position: 0 bottom;
		margin:0 22px 0 0;
	}
	
	.cbox.cbox5 {
		background: url('../images/top/img_qa.png') no-repeat;
		background-position: 0 bottom;
		margin:0 22px 0 0;
	}
	
	.cbox.cbox6 {
		background: url('../images/top/img_contact.png') no-repeat;
		background-position: 0 bottom;
		margin:0;
	}
	
	.cbox h3 {
		display: block;
		overflow: hidden;
		margin:0 0 10px;
		padding: 40px 0 0;
		width: 312px;
		height: 0!important;	
	}
	
	.cbox.cbox1 h3 {
		background: url('../images/top/tit_about.png') no-repeat;
	}
	
	.cbox.cbox2 h3 {
		background: url('../images/top/tit_service.png') no-repeat;
	}
	
	.cbox.cbox3 h3 {
		background: url('../images/top/tit_works.png') no-repeat;
	}
	
	.cbox.cbox4 h3 {
		background: url('../images/top/tit_price.png') no-repeat;
	}
	
	.cbox.cbox5 h3 {
		background: url('../images/top/tit_qa.png') no-repeat;
	}
	
	.cbox.cbox6 h3 {
		background: url('../images/top/tit_contact.png') no-repeat;
	}
	
	.cbox .body {
		display: block;
		margin:0 0 15px 150px;
	}
	
	.cbox .more {
		margin:0 0 0 150px;
		font-size:1.8rem;
		letter-spacing: 1px;
	}
	
	.cbox .more a {
		display: block;
		background: url('../images/common/icon_arrow1.png') no-repeat;
		background-position: right center;
		background-color: #000;
		text-align: center;
		color:#FFF;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		text-align: center;
	}
	
	.cbox .more a b {
		display: inline-block;
		overflow: hidden;
		background: url('../images/common/icon_more.png') no-repeat;
		background-position: right center;
		padding: 13px 0 0;
		width: 46px;
		height: 0!important;
	}
	
	.works {
		margin:0 0 30px;
		padding:35px 0 0 30px;
		border:1px solid #B7B7B7;
	}
	
	.works ul li {
		margin:0 35px 30px 0;
		width:202px;
		font-size:1.2rem;
	}
	
	.works ul li .image {
		margin:0 0 10px;
		height:165px;
	}
	
	.works ul li .image img {
		max-width:200px;
		height:auto;
	}
	
	.casebox {
		margin: 0 20px 15px 0;
		padding: 15px 15px 10px;
		width: 442px;
		height: 140px;
		overflow: hidden;
		float: left;
	}
	
	.casebox.case1 {
		background: url('../images/top/case1.png') no-repeat;
		background-position: right bottom;
		background-color: #F5F5F5;
	}
	
	.casebox.case2 {
		background: url('../images/top/case2.png') no-repeat;
		background-position: right bottom;
		background-color: #F5F5F5;
		margin:0 0 15px;
	}
	
	.casebox.case3 {
		background: url('../images/top/case3.png') no-repeat;
		background-position: right bottom;
		background-color: #F5F5F5;
	}
	
	.casebox.case4 {
		background: url('../images/top/case4.png') no-repeat;
		background-position: right bottom;
		background-color: #F5F5F5;
		margin:0 0 15px;
	}
	
	.casebox h3 {
		font-size: 2.0rem;
	}
	
	.column {
		padding: 15px 30px 10px;
	}
	
	.column ul {
		padding:3px 0;
		line-height:2;
		float:left;
	}
	
	.column ul.list1 {
		margin: 0 30px 0 0;
		padding: 0 30px 0 0;
		border-right: 2px solid #CCC;
	}
	
	.column ul li {
		padding:0;
	}
	
	.column ul li i {
		position: static;
		margin:0 8px 0 0;
	}
	
	.column ul li a:hover {
		text-decoration: underline;
		color:#F60;
	}

	.siderightimg {
		background: url('../images/top/img_responsive.png') no-repeat;
		background-position: right;
		background-size: 337px;
		margin:0;
		padding: 0 360px 0 0;
		min-height: 200px;
		height:auto!important;
	}

}